body{
background-color: #484E4A ;
}

h1{
    color: #eacb48;
    font-size: 5vw;
    text-align: center ;
    justify-content: center;
    padding-top: 2cm;
    padding-bottom: 4cm;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-content: center;
}
.text{
    color: #EFF0EB;
    font-size: 20px;
    text-align: center;
    padding-top: 1cm;
    padding-bottom: 4cm;
}