body{
background-color: #484E4A ;
}

h1{
    color: #eacb48;
    font-size: 5em;
    font-weight: 70;
    text-align: center ;
    justify-content: center;
    padding-top: 1cm;
    padding-bottom: 2cm;
}
