body{
background-color: #484E4A ;
}

h1{
    color: #eacb48;
    font-size: 5em;
    font-weight: 70;
    text-align: center ;
    justify-content: center;
    padding-top: 2cm;
    padding-bottom: 4cm;
}

.carousel-item{
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
    padding-left: 14.5cm;
    padding-bottom: 4cm;
}
